@page
@model SinjulMSBH_E09.Pages.SinjulMSBHModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SinjulMSBH</title>
</head>
<body>
</body>
</html>
